* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.reset-container {
  width: 150vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-logo {
  width: 95px;
  height: 45px;
  margin: 1rem;
}

.reset-left {
  width: 50%;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reset-heading {
  font-size: 50px;
  font-weight: 1000;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.reset-instructions {
  font-size: 20px;
  margin-bottom: 1.5rem;
  text-align: center;
  width: 80%;
}

.black-bold {
  font-weight: 900;
  color: black;
}

.green {
  color: green;
}

.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.reset-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.6rem;
  width: 60%;
}

.reset-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.reset-input {
  width: 100%;
  padding: 0.6rem;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.reset-button {
  width: 60%;
  height: 2.2rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.reset-button:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.reset-button:focus {
  outline: none;
}

.reset-right {
  width: 50%;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset-right img {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;

}
